extends layout

block content
  h1= title
  form#formLogin(name="login", method="post", action="login")
    input#inputUserName(type="text", placeholder="username", name="username")
    input#inputPassWord(type="password", placeholder="password", name="password")
    button#btnSubmit(type="submit") submit
  br
  a(href='/first_express_app') << Back to Homepage
